*{
    box-sizing: border-box;
}
body{
    background: #2f3542 url('https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=582&q=80') no-repeat left center/cover;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif ;
    /* font-family: Arial, Helvetica, sans-serif; */
}
h1, h3{
    margin-bottom: 0;
}
p{
    line-height: 2;
    margin: 0;
}
.play-again{
    padding: 8px 15px;
    border: 0;
    background: #000000;
    border-radius: 5px;
    margin-top: 10px;
}
.msg{
    font-size: 1.5em;
    margin-top: 40px;
}
.box{
    border: 1px solid #dedede;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
}